.grid-container {
  display: grid;
  place-content: center;
  height: 95vh;
  width: 100vw;
}

.grid-board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 60vmin;
  height: 60vmin;

  .block-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vmin;
    border: 1px solid black;
    height: 20vmin;
  }
}
